/* *********************************** Navbar & Footer ************************************ */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}

/* ********************************** Navbar section start********************************* */

#navContainer {
    position: sticky;
    top: 0%;
    box-shadow: rgba(67, 177, 196, 0.1) 0px 3px 7px;
    background-color: white;
}
#navbar {
    max-width: 1400px;
    height: 72px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar > div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
}
#navbar > div:first-child>button{
    border: none;
    background-color: white;
    width: auto;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    align-items: center;  
}
.btnArrows{
    margin-bottom: 3px;
    width: 5px;
    height: 5px;
    border-top: 1px solid rgb(73, 73, 73);
    border-right: 1px solid rgb(73, 73, 73);
    transform: rotate(135deg);
}
#navbar > div:first-child>button, #navbar > div:last-child>a{
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #535768;
    font-size: 16px;
}
#navbar > div:first-child>button:hover,#navbar > div:last-child>a:hover{
    background-color: rgb(232, 240, 244);
    color: rgb(75, 75, 255);
}
#navbar > div:last-child>button{
    height: 40px;
    width: 130px;
    margin-left: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(115, 115, 255);
    color: white;
}
#navbar > div:last-child>button:hover{
    background-color: rgb(75, 75, 255);
}
.logo {
    width: 165px;
    margin-top: -5px;
    margin-right: 15px;
    cursor: pointer;
}

/* ********************************** Navbar section end ********************************* */

/* ********************************** Footer section start ********************************* */

#footer {
    /* margin: 0px 50px 50px; */
    padding: 90px 0px 0px;
}

/* ********************************** Footer top section start ********************************* */

#footerTop {
    margin: auto;
    max-width: 1450px;
    border-bottom: 1px solid rgb(212, 212, 212);
    display: flex;
    padding: 0px 1.5% 50px;
}
#footerTop img {
    width: 18px;
}
#footerTop .logo {
    width: 127px;
    height: 35px;
}
#footerTop div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#footerTop h3 {
    color: #535768;
    font-weight: 500;
    font-size: 16px;
    margin: 11px 0px 12px;
}
#footerTop a {
    text-decoration: none;
    width: 95%;
    font-size: 14px;
    font-weight: 300;
    color: #7b838c;
    display: flex;
    align-items: center;
    gap: 10px;
}
#footerTop a:hover {
    color: rgb(75, 75, 255);
}
#monday {
    width: 17%;
}
#feature {
    width: 13.5%;
}
#monProd_More {
    width: 22.5%;
}
#usecases {
    width: 17%;
}
#company {
    width: 17%;
}
#resources {
    width: 10%;
}
#monProd_More > div:last-child {
    margin-top: 23px;
}

/* ********************************** Footer top section end ********************************* */

/* ********************************** Footer bottom section start ********************************* */

#footerBottom {
    max-width: 1450px;
    margin: auto;
    padding: 50px 30px 65px;
    display: grid;
    grid-template-columns: 57% 20%;
    justify-content: space-between;
}
#footerb_Left > div:first-child {
    display: flex;
    align-items: center;
    gap: 120px;
}
#language {
    position: relative;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    color: #7b838c;
}
#language:hover {
    color: rgb(75, 75, 255);
}
#language img {
    width: 20px;
}
#arrow {
    margin-bottom: 5px;
    width: 7px;
    height: 7px;
    border-top: 1px solid rgb(73, 73, 73);
    border-right: 1px solid rgb(73, 73, 73);
    transform: rotate(135deg);
}
#footerb_Left > div:first-child > div:last-child {
    display: flex;
    gap: 20px;
}

.fa {
    color: rgb(62, 62, 62);
}
.fa:hover {
    color: rgb(75, 75, 255);
}
#footerb_Left > div:last-child {
    display: flex;
    margin-top: 30px;
    align-items: center;
    color: #7b838c;
    font-size: 14px;
    justify-content: space-between;
}
#footerb_Left > div:last-child > div:nth-child(1) {
    display: flex;
    gap: 10px;
}
#footerb_Left > div:last-child > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.9rem;
    font-size: 14px;
}
#footerb_Left > div:last-child > div:nth-child(2) a {
    color: #7b838c;
}
#footerb_Left > div:last-child > div:nth-child(2) a:hover {
    color: rgb(75, 75, 255);
}
.badge {
    height: 32px;
    width: 32px;
}
.hr {
    height: 14px;
    border: 1px solid rgb(167, 167, 167);
}
#footerb_Right > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: -10px;
}
.playStoreImg {
    width: 135px;
    height: 40px;
}
.appStoreImg {
    width: 125px;
    height: 40px;
}
#footerb_Right > div:last-child > a {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #7b838c;
}
#footerb_Right > div:last-child > a:hover {
    color: rgb(75, 75, 255);
}
#footerb_Right > div:last-child > a > img {
    width: 20px;
    height: 20px;
}

/* ********************************** Footer bottom section end ********************************* */

/* ********************************** Footer section end ********************************* */