* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(17, 17, 107); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/ab2.jpg"); */
  background-position: center;
  background-size: cover;
  position: absolute;
}
.logo {
  font-family: sans-serif;
  /* font-size: 2.5em; */
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}
.menu a:hover {
  color: #e74c3c;
}
/* .menu a:nth-child(1) {
  color: #e74c3c;
} */
.menu a:nth-child(1):hover {
  color: red;
}
/* nav .logo img {
  margin-left: 10px;
  width: 50px;
  height: 40px;
} */
.icon i {
  font-size: 20px;
  cursor: pointer;
}
.icon i:hover {
  color: #e74c3c;
}
.icon a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  margin-left: 30px;
  font-weight: initial;
}
.das-h das-h5 {
  margin: auto;
  background-color: rgba(56, 56, 171, 0.656);
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.icon a:nth-child(4) {
  background-color: rgba(56, 56, 171, 0.656);
  border-radius: 20px;
  color: white;
  margin-right: 5px;
}
.icon a:nth-child(4):hover {
  background-color: rgba(27, 27, 169, 0.892);
}
/* mid sec----- */

.dashboard-mid {
  background-color: rgb(43, 44, 93);
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: space-around;
}

.das-h {
  color: white;
  margin: 90px 90px;
  margin-top: 180px;
}
.dashboard-mid .das-h h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 50px;
}
.das-h h5 {
  border-radius: 20px;
  margin-top: 20px;
  height: 25px;
  width: 125px;
  background-color: white;
  color: rgb(8, 6, 83);
  font-size: 20px;
  gap: 10px;
  cursor: pointer;
  font-weight: initial;
}
.dashboard-mid .das-h p {
  line-height: 25px;
}
.das-h h5 #btn {
  margin: auto;
}
.das-h h5:hover {
  color: black;
}

/* ---video */
.video {
  margin-right: 90px;
}

/* <!-- ________next img sec-----// --> */

.img-cont {
  width: 60%;
  height: 250px;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 55px;
}
.fst-row {
  display: flex;
  justify-content: space-around;
}
.fst-row img {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 60px;
  padding: 3px;
  margin-top: 20px;
}
.snd-row {
  display: flex;
  justify-content: space-around;
}
.snd-row img {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 50px;

  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
/* ----------company-kpi */

.kpi-cont {
  width: 80%;
  height: 380px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.kpi-cont img {
  width: 600px;
  height: 100%;
}
.kpi-tag {
  margin: auto;
  margin-left: 40px;
}
.kpi-tag h1 {
  font-size: 40px;
  font-weight: initial;
}
.kpi-tag p {
  /* font-weight: initial; */
  margin-top: 10px;
  line-height: 26px;
  font-size: 20px;
  color: rgb(65, 64, 64);
}
/* ------------------ */
/* <!-- ___________Collaborate______________ --> */

.clb-cont {
  width: 80%;
  height: 380px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
/* .clb-cont img {
  width: 600px;
  height: 100%;
} */
.clb-tag {
  margin: auto;
  margin-right: 90px;
}
.clb-tag h1 {
  font-size: 40px;
  font-weight: initial;
}
.clb-tag p {
  /* font-weight: initial; */
  margin-top: 10px;
  line-height: 26px;
  line-height: 30px;
  font-size: 20px;
  color: rgb(65, 64, 64);
}
/* --------------- */
/* <!-- -------------start day /div---- --> */

.day-d {
  background-color: rgba(177, 170, 170, 0.241);
  width: 100%;
  height: 260px;
  margin: auto;
  margin-top: 160px;
  text-align: center;
  border: 1px solid white;
}
.day-text {
  margin: auto;
  margin-top: 80px;
}
.day-text h1 {
  font-weight: initial;
  font-size: 40px;
}
.get-d>button {
  width: 150px;
  height: 40px;
  margin: auto;
  text-decoration: none;
  margin-top: 30px;
  background-color: rgba(56, 56, 171, 0.656);
  color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.get-d>button:hover {
  background-color: rgba(27, 27, 169, 0.892);
}
/* <!-- ----------------_ --> */
/* <!-- Centralize all your work processes --> */
.cent-cont h1 {
  margin: auto;
  text-align: center;
  font-weight: initial;
  font-size: 45px;
  margin-top: 35px;
}
/* ________________ */
/* <!-- Centralize box_____________ --> */
.centra-cont {
  width: 100%;
  /* height: 50au0px; */
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(40, 40, 93, 0.1) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
.small-box {
  /* border: 1px solid green; */
  width: 30%;
  height: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: rgba(17, 16, 16, 0.885);
}
.small-box img {
  width: 100%;
  height: 80%;
}
.small-box p {
  margin-top: 5px;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgb(58, 57, 57);
  font-size: 18px;
}
/* .small-box h1 {
  margi
} */
.small-box h1 {
  /* padding: 10px; */
  margin-top: -10px;
  margin-bottom: 50px;
}
/* <!-- ____________________- --> */

/* <!-- _____________Integrate your work--- --> */

/* .integ-cont h1 {
  text-align: center;
  font-weight: initial;
  margin-top: 140px;
  font-size: 41px;
}
.integ-box {
  border: 1px solid red;
  width: 100%;
  height: 280px;
  margin: auto;
}
.div-img {
  display: flex;
  justify-content: space-evenly;
} */
/* integ-sec */
.integ-cont {
  width: 100%;
  height: 290px;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 55px;
}
.integ-cont h1 {
  text-align: center;
  font-size: 40px;
  font-weight: initial;
}
.integ-row {
  display: flex;
  justify-content: space-around;
}
.integ-row img {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  padding: 3px;
  margin-top: 20px;
  margin-top: 55px;
}
.integ-rowt {
  display: flex;
  justify-content: space-around;
}
.integ-rowt img {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;

  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
/* ____________________ */
.see-d {
  background-color: rgb(43, 44, 93);
  width: 100%;
  height: 260px;
  margin: auto;
  margin-top: 160px;
  text-align: center;
  border: 1px solid white;
}
.see-text {
  margin: auto;
  margin-top: 80px;
}
.see-text h1 {
  font-weight: initial;
  font-size: 40px;
  color: white;
}
.see-get-d p {
  width: 150px;
  height: 40px;
  margin: auto;
}
.see-get-d p {
  margin: auto;
  margin-top: 30px;
  background-color: rgba(90, 90, 209, 0.656);
  color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.see-get-d p:hover {
  background-color: rgba(27, 27, 169, 0.892);
}
