
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav{
    height: 70px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(196, 196, 196);
    display: flex;
    align-items: center;
    padding-left: 30px;
}
#nav img{
    width: 210px;
}

#login-form{
    width: 50%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
}
.email{
    font-weight: bold;
    font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
}
input{ 
    width: 48%;
    margin: auto;
    padding: 10px;
    color: gray;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #0073ea;
    color: black;
}
button{
    width: 48%;
    margin: auto;
    margin-top: 3%;
    padding: 15px;
    font-size: 18px;
    background-color: #0073ea;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
span{
position: relative;
}
.sign{
    font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
    font-size: 16px;
    font-weight: 100;
}
#or{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-top: 50px;
    gap: 20px;
}
#or>hr{
    width: 25%;
}