body{
    margin: 0%;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;

}
#main{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
   margin-bottom: 5%;
}

#sidebar{
    width: 7%;
    /* border: 2px solid green; */
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-right: 0.2px solid;
    position: fixed;
    
}
#sidebar>div{
    width: 70%;
    height: 55px;
    display: flex;
    border-radius: 9px;
    position: sticky;
    
}
#sidebar>div>img{
    display: block;
    width: 45%;
    margin: auto;
    
    position: sticky;
    
}
#sidebar>:nth-child(1){
    background-color: rgba(221,221,255,255)
    
}

#sidebar>:nth-child(1):hover{
    background-color: rgba(221,221,255,255);
}
#sidebar>:nth-child(2):hover{
  background-color:   rgba(255,205,226,255);
    
}
#sidebar>:nth-child(3):hover{
    background-color:    rgba(178,241,241,255);
}
#sidebar>:nth-child(4):hover{
    background-color:    rgba(208,233,255,255);
}
#sidebar>:nth-child(5):hover{
    background-color:   rgba(178,238,213,255);
}

#container{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-left: 10%;
}
#container-1{
    width: 50%;
    margin: auto;
    margin-top: 7%;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    /* border: 2px solid */


}
#container-1>img{
    display: block;
    width: 70%;
    margin: auto;
}
#container-1>h2{
    font-size: 24px;
    font-weight: 500;
    font-weight: bold;
    margin-top: 5%;
}
#container-1>p{
    display: block;
    font-weight: 300;
    font-size: 20px;
    word-break: break-word;
    line-height: 32px;
    text-align: center;
    margin-top: 5%;
}
#container-1>button{
display: block;
margin: auto;
margin-top: 5%;
padding: 15px 30px;
background-color:#6C6CFF ;
color: white;
font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 300;
border-radius: 25px;
border: none;
}

#year-selection{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    justify-content: space-between;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
}
select{
    padding: 5px 30px 5px 5px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
}
#pricing{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
    justify-content: center;

}
#pricing>div{
    height: 750px;
    border: solid;
    border-width: 0.00001em;
    padding-top: 20px;
    padding-left: 5px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    
    border-radius: 2px;

}

#pricing>div>div>img{
    width: 15%;
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5%;

}
#pricing>div>div>p{
    font-size: 20px;
    font-weight: bold;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    margin-left: 5%;

    
}
#price-tag{
    display: flex;
    width: 30%;
    margin-left: 5%;
}
#price-tag>h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    margin-left: 5%;
}
#price-tag>h4{
    display: block;
    font-size: 16px;
    margin-left: 5%;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
   
    

}
#pricing>div>p{
    display: block;
    margin-top: 1%;
    font-weight: 600;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-left: 5%;

}
#try-for-free{
    margin-top: 17%;
    margin-left: 6%;
}
#try-for-free>button{
    background-color: white;
    color: black;
    padding: 8px 28px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    border-radius: 20px;
    font-weight: 500;
    border: 0.5px solid;
}
#try-for-free>h4{
    
    font-size: 14px;
    font-weight: 100;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    margin-top: 8%;
   
}


hr{
    width: 90%;
    margin: auto;
    margin-top: 20%;
}

#pricing>div>h5{
    font-size: 14px;
    font-weight: 100;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    margin-top: 8%;
    margin-left: 5%;
}

#customer{

    width: 90%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    

}
#customer>div{
    display: grid ;
    grid-template-columns: repeat(9,1fr);
    align-items: center;
   
}
#customer>div>img{
    width: 80%;
}
#customer>h1{
    width: 51%;
    margin: auto;
    margin-bottom: 2%;
    font-weight: 300;
}
#reviews{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
   
}
#reviews>:first-child{
    display: block;
    width: 30%;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    top: 20px;
    z-index: 1;
    background-color: white;
}
#reviews>div>img{
    width: 100%;
   
    
}
#reviews>:last-child{
    background-color:#F5F6F8;
    padding: 10px;
    
}
#reviews>div>h4{
    width: 65%;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    
}
#reviews>div>h5{
    width: 75%;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
   
    margin-bottom: 5%;
}

#cr-button{
    width: 10%;
    margin: auto;
    margin-top: 2%;
    
}
#cr-button>button{
    border-radius: 100%;
    padding: 4px;
    border: none;
    background-color: gray;
    margin-left: 5%;
}
button>a{
    font-style: none;
    color: black;
    text-decoration: none;
}

#footer{
    width: 93%;
    margin-left: 7%;
}
