#signup-cont{
    width: 750px;
    height: 530px;
    border: 3px solid rgba(128, 128, 128, 0.507);
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 60px auto;
    border-radius: 10px;
    
}

/* Sign up page Left Side */

.signup-page-left{
    /* border: 1px solid blue; */
    width: 488px;
    height: 480px;
    margin: 30px;
    margin-top: 0px;
}

.header-signup>p{
    color: #4e4e4e;
}

.email-for-signup>input,label{
    display: block;
}

.email-for-signup>input{
    width: 340px;
    padding: 7px 10px;
    border: 1px solid #b3b3b396;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(46, 46, 46);
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    
}
.email-for-signup>input::placeholder{
    color: #525252a2;
}

.email-for-signup>button{
    width: 362px;
    font-size: 18px;
    color: white;
    background-color: rgb(15, 163, 225);
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgb(0, 144, 206);
    border-radius: 4px;
    outline: none;
    padding: 10px;
    margin-bottom: 40px;

}
.email-for-signup>button:hover{
    background-color: rgb(0, 144, 206);
}
.signup-with-line-divider p{
    width: 160px;
    height: 1px;
    background-color:  rgba(185, 185, 185, 0.781);
    border-radius: 10px;
}
.signup-with-line-divider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(58, 58, 58, 0.74);
}
.signup-with-line-divider>div{
    margin: 20px 15px;   
} 

.sign-up-with{
    width: 90%;
} 

.sign-up-with div>img{
    width: 25px;
    margin: 5px;
}
.sign-up-with-google{
    border: 1px solid rgba(185, 185, 185, 0.781);
    font-weight: 300;
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0px 15px;
    cursor: pointer;
    height: 45px;
}
.sign-up-with-google>p>a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}


.login-in-signup{
    display: flex;
    margin: 20px 0;
    font-weight: 400;
    justify-content: center;
    
}
.login-in-signup>a{
    text-decoration: none;
    margin-left: 9px;
    margin-top: 17px;
    color: rgb(0, 144, 206);
    
}

/* Sign up page Right side */


.signup-page-right{
    
background-color: rgba(223, 223, 223, 0.212);
   background-image: url(https://dapulse-res.cloudinary.com/image/upload/monday_platform/signup/soft-welcome.png);
   /* background-image:url("https://dapulse-res.cloudinary.com/image/upload/monday_platform/signup/unified_img_soft"); */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    
}
.signup-page-right-text{
    /* border: 1px solid green; */
    width: 270px;
    text-align: center;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 15px;
    color: white;
}
