#login-form{
    width: 50%;
    margin: auto;
    margin-top: 10%;
   
    height: 600px;
    text-align: center;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

    margin-bottom: 5%;

}
.email{
    font-weight: bold;
    line-height: 0px;
    font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
}
input{ 
    display: block;
    width: 45%;
    margin: auto;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid;
    border-radius: 2px;
    
}
button{
    display: block;
    width: 48%;
    margin: auto;
    margin-top: 3%;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #0073ea;
    color: white;
    border: none;
    border-radius: 5px;
    
}
span{
position: absolute;
top: 48.5%;
left: 52%;
}
.before{
    width: 17%;
    position: absolute;
    left: 28%;
    top:59.5%;

}

.after{
    width: 17%;
    position: absolute;
    left: 55%;
    top:59.5%;

}
.sign{
    font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 5%;
}