.container{
    width: 30%;
    margin: auto;
    font-family: sans-serif;;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 100;
    position: absolute;
    top: -120%;
    left: 40%;
    background-color: white;
    
    
}
.active{
    width: 30%;
    margin: auto;
    font-family: sans-serif;;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: white;
    
}

form>h3{
text-align: center;
margin-bottom: 20px;
font-size: 30px;
font-family:  lato, Arial, Helvetica, sans-serif;
}
form{

width: 90%;
margin: auto;
padding: 50px;
padding-top: 20px;
}
input[type="text"],input[type="password"]{
display: block;
width: 90%;
outline: none;
border: none;
padding: 15px;
border-bottom: 1px solid black;
font-family:  lato, Arial, Helvetica, sans-serif;
}

input[type="submit"]{
display: block;
border: 0px;
border-radius: 5px;
margin: auto;
text-align: center;
background-color: #3cc6dc;
color: white;
margin-top: 9px;
margin-right: 70px;
padding: 20px 180px;

}
div>button{
    left: 97%;
    top: -2%;
    position: absolute;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    background-color: black;
    font-family:  lato, Arial, Helvetica, sans-serif;

}
form>a{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top:30px;
    font-family:  lato, Arial, Helvetica, sans-serif;
    color: #3cc6dc;
}
.scontainer{
    width: 30%;
    margin: auto;
    font-family: sans-serif;;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 100;
    position: absolute;
    top: -120%;
    left: 40%;
    background-color: white;
    
}
.sactive{
    width: 30%;
    margin: auto;
    font-family: sans-serif;;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: white;
    
}

#signupform>h3{
text-align: center;
margin-bottom: 20px;
font-size: 30px;
font-family:  lato, Arial, Helvetica, sans-serif;
}
#signupform{

width: 90%;
margin: auto;
padding: 50px;
padding-top: 20px;
}
#signupform>input[type="text"],#signupform>input[type="password"],#signupform>input[type="email"]{
display: block;
width: 90%;
outline: none;
border: none;
padding: 15px;
border-bottom: 1px solid black;
font-family:  lato, Arial, Helvetica, sans-serif;
}
/* box-sizing: border-box; */

/* label{
display: block;

font-size: 20px;
margin-top: 8px;
margin-bottom: 4px;

} */
#signupform>input[type="submit"]{
display: block;
border: 0px;
border-radius: 5px;
margin: auto;
text-align: center;
background-color: #3cc6dc;
color: white;
margin-top: 9px;
margin-right: 70px;
padding: 20px 180px;

}
div>button{
    left: 97%;
    top: -2%;
    position: absolute;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    background-color: black;
    font-family:  lato, Arial, Helvetica, sans-serif;

}
#signupform>p>a{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top:30px;
    font-family:  lato, Arial, Helvetica, sans-serif;
    color: #3cc6dc;
}
#signupform>p{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top:30px;
    font-family:  lato, Arial, Helvetica, sans-serif;
    color: black;
}
